Loops

In [7]:
for i in range(5):
    laptop_price = float(input(""))
    print("Laptop price: ", laptop_price)

Laptop price:  10.0
Laptop price:  20.0
Laptop price:  30.0
Laptop price:  40.0
Laptop price:  50.0

In [1]:
numbers = [1, 2, 3, 4, 5]
for i in range(5):
    print(numbers[i]*5)

5
10
15
20
25

In [8]:
i = 0 
while(i<5):
    print(i)
    i += 1

0
1
2
3
4